[workspace.package]
version = "0.0.3"

[workspace]
members = [
  "crates/cli",
  "crates/configuration",
  "crates/dc-api",
  "crates/dc-api-test-helpers",
  "crates/dc-api-types",
  "crates/introspection",
  "crates/mongodb-agent-common",
  "crates/mongodb-connector",
  "crates/mongodb-support",
  "crates/ndc-test-helpers",
]
resolver = "2"

# We have a fork of the mongodb driver with a fix for reading metadata from time
# series collections.
# See the upstream PR: https://github.com/mongodb/mongo-rust-driver/pull/1003
[patch.crates-io.mongodb]
git = "https://github.com/hasura/mongo-rust-driver.git"
branch = "time-series-fix"
