[package]
name = "ndc-test-helpers"
version = "0.1.0"
edition = "2021"

[dependencies]
indexmap = { workspace = true }
itertools = { workspace = true }
ndc-models = { workspace = true }
serde_json = "1"
